@{
    ViewData["Title"] = "О нас";
}
<center><h3><i>Немного информации по приложению</i></h3></center>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Приложение было разработано с помощью технологии ASP.NET Core MVC с целью самообразования. Идея приложения: примитивное новостное приложение где любой зарегестрированый пользователь может разместить свою статью. Прежде чем статья появиться на сайте её должен проверить и подтвердить администратор. Есть 3 категории статей: Мир IT , Политика и Автомобильная тематика , при желании категории можно добавить. Присутствует система пагинации, авторизации, фильтрации по категориям ,добавление, редактирование и потверждение статей.</p>
